* {
  font-family: "Roboto", sans-serif;
}

body {
  text-align: center;
  background-image: url("bg.jpg");
  background-position: center;
}

div {
  padding-top: 50px;
  display: inline-block;
}

#output {
  padding-top: 50px;
}
