* {
  font-family: "Roboto", sans-serif;
}

body {
  text-align: center;
  background-image: url("bg.jpg");
  background-size: contain;
}

div {
  padding-top: 50px;
  display: inline-block;
}

#output {
  padding-top: 50px;
  font-size: 50px;
  font-weight: 600;
  text-shadow: h-shadow v-shadow blur-radius floralwhite
}
